<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <% include partials/navigation %>

    <section class="designer-main-banner" style="background-image:url('assets/images/designer-banner-02.jpg')">
      <div class="container">
      <div class="row">
        <div class="col-lg-6  text-center">
          <div class="collections-main-banner-box">
            <h3>The search for dream your jewelry ends here</h3>
            <div class="button-side-2">
              <button class="btn btn-primary btn-lg">Find A Wedding Ring</button>
              <button class="btn btn-primary btn-lg">Diamond Jewelry</button>
              <button class="btn btn-primary btn-lg">Gold &amp; Silver Jewelry</button>
              <button class="btn btn-primary btn-lg">Gemstone Jewelry</button>
            </div>       
          </div>
        </div>
      </div>
      </div>
    </section>

    <section class="designer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 designer-wrapper">
            <div class="designer-sidebar">
              <h4 class="designer-sidebar-title">
                Jewelry
              </h4>
              <ul class="designer-sidebar-list">
                <li><a href="">Earnings</a></li>
                <li><a href="">Necklaces</a></li>
                <li><a href="">Bracelets</a></li>
                <li><a href="">Fashion Rings</a></li>
              </ul>
              <div class="designer-sidebar-devider"></div>
              <h4 class="designer-sidebar-title">
                Collections
              </h4>
              <ul class="designer-sidebar-list">
                <li><a href="">Simply Diamonds</a></li>
                <li><a href="">Chrams</a></li>
                <li><a href="">Station &amp; Chains</a></li>
                <li><a href="">Classics</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-9 designer-wrapper">
            <div class="designer-content">
              <div class="designer-content-box designer-content-full">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-01.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">Jewelpeak</a></h4>
                  <p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
                </div>
              </div>
              <div class="designer-content-box">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-02.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">LALIQUE</a></h4>
                  <p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
                </div>
              </div>
              <div class="designer-content-box">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-03.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">PINWHEEL</a></h4>
                  <p>Gems come in a wide variety of quality, and we believe in showing only the very best. All of our gemstones are of the finest calibre.</p>
                </div>
              </div>
              <div class="designer-content-box">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-04.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">MIJA</a></h4>
                  <p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
                </div>
              </div>
              <div class="designer-content-box">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-05.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">HONORA</a></h4>
                  <p>Gems come in a wide variety of quality, and we believe in showing only the very best. All of our gemstones are of the finest calibre.</p>
                </div>
              </div>
              <div class="designer-content-box">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-06.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">MIMI SO</a></h4>
                  <p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
                </div>
              </div>
              <div class="designer-content-box">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-01.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">GREGG RUTH</a></h4>
                  <p>Gems come in a wide variety of quality, and we believe in showing only the very best. All of our gemstones are of the finest calibre.</p>
                </div>
              </div>
              <div class="designer-content-box designer-content-full">
                <div class="designer-content-image">
                  <img src="assets/images/product/product-600-03.jpg" class="img-responsive" alt="">
                </div>
                <div class="designer-content-text">
                  <h4><a href="designer-detail.html">ALL DESIGNER COLLECTIONS</a></h4>
                  <p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>