<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="body-offcanvas">
      <% include partials/header %>
      <% include partials/navigation %>
      <% include partials/mainbanner %>
      <% include partials/homepage %>
      <% include partials/newsletter %>
      <% include partials/footer %>
      <% include partials/scripts %>
  </body>
</html>
