<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <% include partials/navigation %>

    <section class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i> lovida</a></li>
            <li class="active"><a href="magazine.html">Magazine</a></li>
          </ol>
        </div>
      </div>
    </section>

    <section class="magazine-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <h2>A Jewel of an Idea</h2>
              <h5>See the world through our gem-encrusted lens. Meet our talented menagerie of international jewelers, learn what makes them unique, where their favorite haunts are and how to wear teir jewelry</h5>
          </div>
        </div>
      </div>
    </section>

    <section class="magazine-navigation">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled list-inline">
              <li><a href="magazine.html">All Features</a></li>
              <li><a href="magazine-category.html">Fashion</a></li>
              <li><a href="magazine.html">Lifestyle</a></li>
              <li><a href="magazine.html">Designers</a></li>
              <li><a href="magazine.html">Learn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="magazine-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div id="mag-head-banner" class="magazine-head-banner owl-carousel owl-theme">
              <div class="item">
                <div class="magazine-header-box">
                  <a href="" class="">
                    <img src="assets/images/magazine/banner/01.jpg" alt="">
                    <div class="magazine-header-content">
                      <h5><i class="fa fa-diamond"></i> Fashion</h5>
                      <p>5 Ways to look skinnier</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="magazine-header-box">
                  <a href="" class="">
                    <img src="assets/images/magazine/banner/02.jpg" alt="">
                    <div class="magazine-header-content">
                      <h5><i class="fa fa-diamond"></i> Lifestyle</h5>
                      <p>Western Bells are back! See the Celebs leading the trend</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="magazine-header-box">
                  <a href="" class="">
                    <img src="assets/images/magazine/banner/03.jpg" alt="">
                    <div class="magazine-header-content">
                      <h5><i class="fa fa-diamond"></i> Designers</h5>
                      <p>The Different of lifestyle between people of small and big city</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="magazine-header-box">
                  <a href="" class="">
                    <img src="assets/images/magazine/banner/04.jpg" alt="">
                    <div class="magazine-header-content">
                      <h5><i class="fa fa-diamond"></i> Services</h5>
                      <p>Better lifestyles for your summer</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="magazine-header-box">
                  <a href="" class="">
                    <img src="assets/images/magazine/banner/05.jpg" alt="">
                    <div class="magazine-header-content">
                      <h5><i class="fa fa-diamond"></i> Learn</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="magazine-header-box">
                  <a href="" class="">
                    <img src="assets/images/magazine/banner/06.jpg" alt="">
                    <div class="magazine-header-content">
                      <h5><i class="fa fa-diamond"></i> All Feature</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">

            <div class="magazine-articles-btn">
              <a href="" class="active">Latest articles</a>
              <a href="">Popular Articles</a>
            </div>

            <section class="magazine-articles-container">
              <article class="magazine-articles-content full">
                <header>
                  <h4 class="head-category"><i class="fa fa-diamond"></i> Fashion</h4>
                  <h3 class="head-title">Western Belts are back! See the Celebs Leading the Trend</h3>
                  <h5 class="head-subtitle"><span>By <b>Ronald Hariyanto</b> - September 25, 2015</span></h5>
                </header>
                <main>
                  <img src="assets/images/magazine/banner/b-01.jpg" alt="" class="img-responsive">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, consectetur architecto doloribus tempore incidunt, ducimus distinctio. Quis unde expedita sequi nobis iure dolorem, cumque iste repellat, at, nemo quibusdam ad?</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus consequuntur accusantium quasi harum pariatur similique officia nihil libero, maxime dolores expedita nesciunt, in voluptatibus iure, id esse reprehenderit dignissimos dolor!</p>
                </main>
                <footer>
                  <h4><span>Share on</span></h4>
                  <ul class="list-unstyled list-inline social-link">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                  </ul>
                  <div class="clearfix">
                    <div class="read-more pull-left">
                      <a href="" class="read-more-link">Read More</a>
                    </div>
                    <div class="leave-comment pull-right">
                      <a href="" class="leave-comment-link">Leave a Comment</a>
                    </div>
                  </div>
                </footer>
              </article>
              <div class="clearfix"></div>
              <article class="magazine-articles-content half">
                <header>
                  <h4 class="head-category"><i class="fa fa-diamond"></i> Fashion</h4>
                  <h3 class="head-title">Western Belts are back! See the Celebs Leading the Trend</h3>
                  <h5 class="head-subtitle"><span>By <b>Ronald Hariyanto</b> - September 25, 2015</span></h5>
                </header>
                <main>
                  <img src="assets/images/magazine/banner/b-01.jpg" alt="" class="img-responsive">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, consectetur architecto doloribus tempore incidunt, ducimus distinctio. Quis unde expedita sequi nobis iure dolorem, cumque iste repellat, at, nemo quibusdam ad?</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus consequuntur accusantium quasi harum pariatur similique officia nihil libero, maxime dolores expedita nesciunt, in voluptatibus iure, id esse reprehenderit dignissimos dolor!</p>
                </main>
                <footer>
                  <h4><span>Share on</span></h4>
                  <ul class="list-unstyled list-inline social-link">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </footer>
              </article>
              <article class="magazine-articles-content half">
                <header>
                  <h4 class="head-category"><i class="fa fa-diamond"></i> Fashion</h4>
                  <h3 class="head-title">Western Belts are back! See the Celebs Leading the Trend</h3>
                  <h5 class="head-subtitle"><span>By <b>Ronald Hariyanto</b> - September 25, 2015</span></h5>
                </header>
                <main>
                  <img src="assets/images/magazine/banner/b-01.jpg" alt="" class="img-responsive">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, consectetur architecto doloribus tempore incidunt, ducimus distinctio. Quis unde expedita sequi nobis iure dolorem, cumque iste repellat, at, nemo quibusdam ad?</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus consequuntur accusantium quasi harum pariatur similique officia nihil libero, maxime dolores expedita nesciunt, in voluptatibus iure, id esse reprehenderit dignissimos dolor!</p>
                </main>
                <footer>
                  <h4><span>Share on</span></h4>
                  <ul class="list-unstyled list-inline social-link">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </footer>
              </article>
              <div class="clearfix"></div>
              <article class="magazine-articles-content full">
                <header>
                  <h4 class="head-category"><i class="fa fa-diamond"></i> Fashion</h4>
                  <h3 class="head-title">Western Belts are back! See the Celebs Leading the Trend</h3>
                  <h5 class="head-subtitle"><span>By <b>Ronald Hariyanto</b> - September 25, 2015</span></h5>
                </header>
                <main>
                  <img src="assets/images/magazine/banner/b-01.jpg" alt="" class="img-responsive">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, consectetur architecto doloribus tempore incidunt, ducimus distinctio. Quis unde expedita sequi nobis iure dolorem, cumque iste repellat, at, nemo quibusdam ad?</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus consequuntur accusantium quasi harum pariatur similique officia nihil libero, maxime dolores expedita nesciunt, in voluptatibus iure, id esse reprehenderit dignissimos dolor!</p>
                </main>
                <footer>
                  <h4><span>Share on</span></h4>
                  <ul class="list-unstyled list-inline social-link">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                  </ul>
                  <div class="clearfix">
                    <div class="read-more pull-left">
                      <a href="" class="read-more-link">Read More</a>
                    </div>
                    <div class="leave-comment pull-right">
                      <a href="" class="leave-comment-link">Leave a Comment</a>
                    </div>
                  </div>
                </footer>
              </article>
            </section>
          </div>
          <div class="col-lg-4">
            <div class="magazine-articles-sidebar">
              <h3>Recent Post</h3>
              <section class="aside-recent-post">
                <article class="recent-post-content">
                  <img src="assets/images/magazine/banner/a-01.jpg" alt="">
                  <h4>Western Belts Are Back See the Celebs Leading the Trend</h4>
                  <span class="time-post"><i class="fa fa-clock-o"></i>August 31, 2015</span>
                </article>
                <article class="recent-post-content">
                  <img src="assets/images/magazine/banner/a-01.jpg" alt="">
                  <h4>Western Belts Are Back See the Celebs Leading the Trend</h4>
                  <span class="time-post"><i class="fa fa-clock-o"></i>August 31, 2015</span>
                </article>
                <article class="recent-post-content">
                  <img src="assets/images/magazine/banner/a-01.jpg" alt="">
                  <h4>Western Belts Are Back See the Celebs Leading the Trend</h4>
                  <span class="time-post"><i class="fa fa-clock-o"></i>August 31, 2015</span>
                </article>
              </section>

              <h3>Social Media</h3>
              <ul class="list-unstyled list-inline aside-social-link">
                <li><a href="" class="facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="" class="twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="" class="instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="" class="youtube"><i class="fa fa-youtube"></i></a></li>
              </ul>

              <h3>Newsletter</h3>
              <form action="">
                <input type="email" class="form-control" placeholder="Email Address">
                <input type="submit" class="btn btn-primary btn-block" value="Subscribe">
              </form>

              <h3>Random Post</h3>

              <section class="aside-random-post">
                <article class="random-post-content clearfix">
                  <div class="rpc-box-left">
                    <img src="assets/images/magazine/banner/01.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="rpc-box-right">
                    <h4>Time to change your old habit</h4>
                    <div class="time-post"><i class="fa fa-clock-o"></i> August 31, 2015</div>
                  </div>
                </article>
                <article class="random-post-content clearfix">
                  <div class="rpc-box-left">
                    <img src="assets/images/magazine/banner/02.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="rpc-box-right">
                    <h4>Time to change your old habit</h4>
                    <div class="time-post"><i class="fa fa-clock-o"></i> August 31, 2015</div>
                  </div>
                </article>
                <article class="random-post-content clearfix">
                  <div class="rpc-box-left">
                    <img src="assets/images/magazine/banner/03.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="rpc-box-right">
                    <h4>Time to change your old habit</h4>
                    <div class="time-post"><i class="fa fa-clock-o"></i> August 31, 2015</div>
                  </div>
                </article>
                <article class="random-post-content clearfix">
                  <div class="rpc-box-left">
                    <img src="assets/images/magazine/banner/04.jpg" alt="" class="img-responsive">
                  </div>
                  <div class="rpc-box-right">
                    <h4>Time to change your old habit</h4>
                    <div class="time-post"><i class="fa fa-clock-o"></i> August 31, 2015</div>
                  </div>
                </article>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
