<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <% include partials/navigation %>

    <section class="product-category">
      <header>
        <div class="product-category-header ">
          <div class="container product-category-bg-gemstone">
            <h1 class="product-category-head-title">
              Gemstone Engagement
            </h1>
            <p class="product-category-head-txt">
              Create the perfect engagement ring.<br>Choose from any style, any stone, any metal.<br>A one-of-a-kind engagement ring created just for you.
            </p>
          </div>
        </div>
      </header>
      <div class="container">
        <div class="clearfix product-head-choose">
          <div class="col-lg-4 no-side-padding">
            <a href="product-category.html" class="btn btn-block ">Choose Gemstone</a>
          </div>
          <div class="col-lg-4 no-side-padding">
            <a href="product-category-setting.html" class="btn btn-block">Choose Setting</a>
          </div>
          <div class="col-lg-4 no-side-padding">
            <a href="product-category-review.html" class="btn btn-block active">Review Selection</a>
          </div>
        </div>
      </div>
    </section>

    <section class="product-category">
      <div class="container">
        <div class="product-filter clearfix">
            <p class="pull-left"> Showing <strong>65</strong> results </p>

            <div class="pull-right ">
                <div class="change-order pull-right">
                    <select class="select2 form-control" name="orderby">
                        <option selected="selected">Default sorting</option>
                        <option value="popularity">Sort by popularity</option>
                        <option value="rating">Sort by average rating</option>
                        <option value="date">Sort by newness</option>
                        <option value="price">Sort by price: low to high</option>
                        <option value="price-desc">Sort by price: high to low</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-3" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-3" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-3" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-1" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-2" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-3" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-3" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-3" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-4" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-4" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-4" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-5" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-5" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-5" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-6" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-6" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-6" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-7" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-7" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-7" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-8" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-8" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-8" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-9" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-9" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-9" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-10" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-10" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-10" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-11" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-11" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-11" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-12" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-12" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-12" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
          <div class="product-category-item col-sm-4 col-lg-3 col-md-3 col-xs-12">
            <div class="product">
              <div class="pc-more-detail">
                <a href="" class="btn">more detail</a>
              </div>
              <div class="imageHover hoverNav">
                <div id="carousel-id-13" class="carousel slide " data-ride="carousel" data-interval="0">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <a href="product-details.html"><img src="assets/images/product/product-450-01.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-02.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                    <div class="item">
                      <a href="product-details.html"><img src="assets/images/product/product-450-03.png" alt="img" class="img-responsive pc-image"></a>
                    </div>
                  </div>

                  <a class="left carousel-control" href="#carousel-id-13" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-id-13" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="pc-header">
                <select class="select2" name="">
                  <option value=""><i class="metal-icon metal-silver"><span>925</span></i></option>
                </select>
                <h4 class="pc-title"><a href="product-details.html"> 14K Yellow gold U Pave Rounded Wedding Band (16CTW) </a></h4>
              </div>
              <div class="pc-main">
                <h4 class="pc-price">$180</h4>
                <a href="" class="pc-wishlist"><i class="fa fa-heart-o"></i></a>
              </div>
              <div class="pc-footer">
                <div class="pc-ratings">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>
                <span class="pc-code">Style: 17001w14</span>
              </div>
            </div>
          </div>
        </div>
        <div class="pc-load-more">
          <a href="" class="btn btn-primary">Load More</a>
        </div>
      </div>
    </section>

    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>
