<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <% include partials/navigation %>

    <% include partials/breadcrumb %>
    
    <section class="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-image-zoom">

                        <div class='zoom' id='zoomContent'>
                            <a class="gall-item" title="product-title" href="assets/images/product/product-600-01.jpg">
                                <img class="zoomImage1 img-responsive" 
                                    data-src="assets/images/product/product-600-01.jpg"
                                    src='assets/images/product/product-450-01.png'
                                    alt='Rings Gaby'/>
                           </a>
                        </div>
                        <div class="zoomThumb ">
                            <a class="zoomThumbLink">
                                <img data-large="assets/images/product/product-600-01.jpg"
                                    src="assets/images/product/product-450-01.png" 
                                    alt="Rings Gaby" title=""/>
                            </a>
                            <a class="zoomThumbLink">
                                <img data-large="assets/images/product/product-600-02.jpg"
                                    src="assets/images/product/product-450-02.png" 
                                    alt="Rings Gaby" title=""/>
                            </a>
                            <a class="zoomThumbLink">
                                <img data-large="assets/images/product/product-600-03.jpg"
                                    src="assets/images/product/product-450-03.png" 
                                    alt="Rings Gaby" title=""/>
                            </a>
                            <a class="zoomThumbLink">
                                <img data-large="assets/images/product/product-600-04.jpg"
                                    src="assets/images/product/product-450-04.png" 
                                    alt="Rings Gaby" title=""/>
                            </a>
                        </div>
                   </div>
                    
                </div>
                <div class="col-lg-6">
                    <h3 class="product-title">SOLITAIRE DIAMOND KNIFE-EDGE ENGAGEMENT RING</h3>
                    <h5 class="product-title-info">in 18kt White Gold for a Round Center Stone</h5>
                    <p class="product-title-desc">The X represents a kiss, and the round O of the ring band represents an endless embrace. Center stone secured with platinum ring prongs.</p>
                    <h4 class="product-price">S$1,234.00</h4>

                    <div class="product-size">
                        <label for="">Size</label>
                        <select name="" id="" class="select2">
                            <option value="">-- Please Select --</option>
                            <option value="">21</option>
                            <option value="">22</option>
                            <option value="">23</option>
                        </select>
                    </div>

                    <div class="product-button">
                        <a href="" class="btn btn-lg btn-primary">Choose this Ring</a>
                    </div>

                    <div class="product-share">
                        
                        <p> SHARE </p>

                        <ul class="product-share-icons">
                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"> <i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    
                    <div class="product-tab">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Setting Information</a></li>
                            <li><a href="#size" data-toggle="tab">Side Stone Information</a></li>
                            <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
                        </ul>

                        <div class="product-tab-content tab-content">

                            <div class="tab-pane active" id="details">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores optio, veniam omnis consequuntur earum, porro nulla at nostrum non repudiandae quidem recusandae. Quidem eum distinctio aliquid dignissimos saepe molestiae veritatis!
                            </div>
                            
                            <div class="tab-pane" id="size">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt dolore dolor laboriosam consectetur, natus! Itaque suscipit quaerat, incidunt molestias eos! Eos quasi nisi et, ipsam minima totam! Consequuntur, ea!
                            </div>

                            <div class="tab-pane" id="shipping">
                                <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width:33%">
                                        <col style="width:33%">
                                        <col style="width:33%">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <td>Standard</td>
                                        <td>1-5 business days</td>
                                        <td>$7.95</td>
                                    </tr>
                                    <tr>
                                        <td>Two Day</td>
                                        <td>2 business days</td>
                                        <td>$15</td>
                                    </tr>
                                    <tr>
                                        <td>Next Day</td>
                                        <td>1 business day</td>
                                        <td>$30</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3">* Free on orders of S$5000 or more</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-desc">
                        <h4 class="product-desc-title">Why Buy From Us</h4>
                        <ul>
                            <li>All Inclusive Pricing</li>
                            <li>In view of overseas customers where tax rate differs, prices are not inclusive of GST or taxes.</li>
                            <li>Lifetime Warranty</li>
                            <li>Free shipping within Singapore</li>
                            <li>Free Gift Packaging</li>
                            <li>1.5% discount</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-related">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>YOU MAY ALSO LIKE</h3>
                    <div id="product-related" class="product-related-slider owl-carousel owl-theme">

                        <div class="item">
                            <div class="product-related-box">
                                <a href="" class="product-related-image"> 
                                    <img class="img-responsive"  src="assets/images/product/product-600-06.jpg" alt="img">
                                </a>

                                <div class="product-related-desc">
                                    <h4><a href="">Gaby Rings</a></h4>
                                    <h5 class="price"><span>$57</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-related-box">
                                <a href="" class="product-related-image"> 
                                    <img class="img-responsive"  src="assets/images/product/product-600-05.jpg" alt="img">
                                </a>

                                <div class="product-related-desc">
                                    <h4><a href="">Gaby Rings</a></h4>
                                    <h5 class="price"><span>$57</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-related-box">
                                <a href="" class="product-related-image"> 
                                    <img class="img-responsive"  src="assets/images/product/product-600-04.jpg" alt="img">
                                </a>

                                <div class="product-related-desc">
                                    <h4><a href="">Gaby Rings</a></h4>
                                    <h5 class="price"><span>$57</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-related-box">
                                <a href="" class="product-related-image"> 
                                    <img class="img-responsive"  src="assets/images/product/product-600-03.jpg" alt="img">
                                </a>

                                <div class="product-related-desc">
                                    <h4><a href="">Gaby Rings</a></h4>
                                    <h5 class="price"><span>$57</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-related-box">
                                <a href="" class="product-related-image"> 
                                    <img class="img-responsive"  src="assets/images/product/product-600-02.jpg" alt="img">
                                </a>

                                <div class="product-related-desc">
                                    <h4><a href="">Gaby Rings</a></h4>
                                    <h5 class="price"><span>$57</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-related-box">
                                <a href="" class="product-related-image"> 
                                    <img class="img-responsive" src="assets/images/product/product-600-01.jpg" alt="img">
                                </a>

                                <div class="product-related-desc">
                                    <h4><a href="">Gaby Rings</a></h4>
                                    <h5 class="price"><span>$57</span></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>