<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <% include partials/navigation %>

    <section class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i> lovida</a></li>
            <li><a href="search.html">Search</a></li>
            <li class="active">Diamond</li>
          </ol>
        </div>
      </div>
    </section>

    <section class="search-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="headtitle">
              Search Results <span>diamond</span>
            </h1>
          </div>
        </div>
      </div>
    </section>
    
    <section class="search-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="search-find">Found 10 matching results</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-02.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-03.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-04.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-05.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-06.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-02.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="search-content-box">
              <a href="" class="scb-image">
                <img src="assets/images/product/product-600-03.jpg" alt="" class="img-responsive">
              </a>
              <h4 class="scb-title"><a href="">Gaby Rings</a></h4>
              <h5 class="scb-price">$1,000</h5>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <p class="search-found">Showing 1 to 10 of 10 results</p>
          </div>
        </div>
     </div>
   </section>

    <% include partials/newsletter %>
    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>