<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <% include partials/navigation %>

    <h1>Shopping Cart</h1>

    <% include partials/footer %>
    <% include partials/scripts %>
  </body>
</html>