<section class="designer-main-banner" style="background-image:url('assets/images/designer-banner-01.jpg')"></section>
<section class="designer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 designer-wrapper">
				<% include designer_sidebar %>
			</div>
			<div class="col-lg-9 designer-wrapper">
				<div class="designer-detail-info">
					<div class="row">
						<div class="col-lg-4">
							<div class="designer-detail-info-box">
								<img class="img-responsive" src="assets/images/magazine/banner/c-01.png" alt="">
								<h4>About Mimi</h4>
								<button class="btn btn-block btn-primary"><i class="fa fa-video-camera"></i> video</button>
								<p>Mimi So worked in her parents’ New York City atelier as a child, playing with diamonds and tools as if they were lego. She launched her own jewelry brand after graduating from Parsons, designing with an independent modern woman in mind. As a highly successful entrepreneur, she sits on the CFDA board of directors and mentors young talent.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="designer-detail-info-box">
								<img class="img-responsive" src="assets/images/magazine/banner/c-01.png" alt="">
								<h4>Story</h4>
								<button class="btn btn-block btn-primary"><i class="fa fa-video-camera"></i> video</button>
								<p>Coupling her impeccable eye for detail and timeless style, Mimi’s art-based jewelry is recognized around the world for its organic shapes, clean lines, and bold features. With a wide a celebrity clientele, Mimi’s jewelry has been worn by rock-stars and royalty alike, including Oprah, Beyoncé, and the cast of HBO’s iconic Sex and the City. </p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="designer-detail-info-box">
								<img class="img-responsive" src="assets/images/magazine/banner/c-01.png" alt="">
								<h4>Design &amp; Craftsmanship</h4>
								<button class="btn btn-block btn-primary"><i class="fa fa-video-camera"></i> video</button>
								<p>In sync with the fashion calendar, Mimi releases two to three limited edition collections a year. Using the highest quality precious metals, diamonds, and gemstones, all of her pieces are handmade in her New York workshop. Like Mimi, the line is soulful and spiritual, yet with a voice that is rebellious and distinctive.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="designer-detail-product">
					<h3 class="designer-detail-product-head">
						<span>Featured Items</span>
						<a href="" class="btn btn-default">See More <i class="fa fa-angle-right"></i></a>
					</h3>
					<div class="row">
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-04.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-01.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-06.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-05.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-04.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-03.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-02.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="designer-detail-product-box">
								<div class="designer-detail-product-img">
									<img class="img-responsive" src="assets/images/product/product-600-01.jpg" alt="Product">
								</div>
								<div class="designer-detail-product-info">
									<h4>Eternity Thin Square Bangle</h4>
									<span>$SGD 1.000</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="designer-detail-featured">
					<h3 class="designer-detail-featured-head">
						<span>Featured Collections</span>
						<a href="" class="btn btn-default">See More <i class="fa fa-angle-right"></i></a>
					</h3>
					<div class="row">
						<div class="col-lg-4">
							<div class="designer-detail-featured">
								<img class="img-responsive" src="assets/images/product/product-600-01.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="designer-detail-featured">
								<img class="img-responsive" src="assets/images/product/product-600-02.jpg" alt="">
							</div>
						</div>
						<div class="col-lg-4">
							<div class="designer-detail-featured">
								<img class="img-responsive" src="assets/images/product/product-600-03.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>