<section class="designer-main-banner" style="background-image:url('assets/images/designer-banner-03.jpg')">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-6 text-center">
				<div class="designer-main-banner-box">
					<h3>Keen on the latest trendy ideas?<br>Check out these fabulous designers<br>Find it all here</h3>
					<button class="btn btn-primary btn-lg">See all Designer</button>
				</div>
			</div>
		</div>
	</div>
</section>