<div class="designer-sidebar">
	<h4 class="designer-sidebar-title">
		Designer List
	</h4>
	<ul class="designer-sidebar-list">
		<li><a href="">Gaby</a></li>
		<li><a href="">Khanza</a></li>
		<li><a href="">Yunny</a></li>
		<li><a href="">Achi</a></li>
		<li><a href="">Lia</a></li>
		<li><a href="">Kiki</a></li>
		<li><a href="">Dian</a></li>
		<li><a href="">Andrina</a></li>
		<li><a href="">Kenny</a></li>
		<li><a href="">Chika</a></li>
	</ul>
</div>
