<div class="designer-content">
	<div class="designer-content-box designer-content-full">
		<div class="designer-content-image">
			<img src="assets/images/designer/02.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Jewelpeak</a></h4>
			<p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
		</div>
	</div>
	<div class="designer-content-box">
		<div class="designer-content-image">
			<img src="assets/images/designer/02.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Kara Boss</a></h4>
			<p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
		</div>
	</div>
	<div class="designer-content-box">
		<div class="designer-content-image">
			<img src="assets/images/designer/03.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Hulchi Bellini</a></h4>
			<p>Gems come in a wide variety of quality, and we believe in showing only the very best. All of our gemstones are of the finest calibre.</p>
		</div>
	</div>
	<div class="designer-content-box">
		<div class="designer-content-image">
			<img src="assets/images/designer/02.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Kara Boss</a></h4>
			<p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
		</div>
	</div>
	<div class="designer-content-box">
		<div class="designer-content-image">
			<img src="assets/images/designer/03.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Hulchi Bellini</a></h4>
			<p>Gems come in a wide variety of quality, and we believe in showing only the very best. All of our gemstones are of the finest calibre.</p>
		</div>
	</div>
	<div class="designer-content-box">
		<div class="designer-content-image">
			<img src="assets/images/designer/02.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Kara Boss</a></h4>
			<p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
		</div>
	</div>
	<div class="designer-content-box">
		<div class="designer-content-image">
			<img src="assets/images/designer/03.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Hulchi Bellini</a></h4>
			<p>Gems come in a wide variety of quality, and we believe in showing only the very best. All of our gemstones are of the finest calibre.</p>
		</div>
	</div>
	<div class="designer-content-box designer-content-full">
		<div class="designer-content-image">
			<img src="assets/images/designer/02.jpg" class="img-responsive" alt="">
		</div>
		<div class="designer-content-text">
			<h4><a href="designer-detail.html">Jewelpeak</a></h4>
			<p>Our diamond jewelry collection has endless styles of unique and exclusive designs, as well as modern trends and beloved classics.</p>
		</div>
	</div>
</div>