
<% include designer_main_banner %>

<section class="designer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 designer-wrapper">
				<% include designer_sidebar %>
			</div>
			<div class="col-md-9 designer-wrapper">
				<% include designer_landing_content %>
			</div>
		</div>
	</div>
</section>