<footer class="footer">
  <div class="container">
    <div class="row footer-row-first">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h4 class="footer-title">About Us</h4>
            <ul class="footer-nav">
              <li><a href="">Our Story</a></li>
              <li><a href="">Our Team</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="footer-title">Policies</h4>
            <ul class="footer-nav">
              <li><a href="">Shipping &amp; Returns</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Terms &amp; Conditions</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="footer-title">Learn</h4>
            <ul class="footer-nav">
              <li><a href="">Diamonds</a></li>
              <li><a href="">Gems</a></li>
              <li><a href="">Metal</a></li>
              <li><a href="">Engagement Ring</a></li>
              <li><a href="">Ring Size</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="footer-title footer-newsletter-title">Newsletter</h4>
        <p class="footer-newsletter-desc">Subscribe to Our Newsletter to get Important News &amp; Offers</p>
        <div class="footer-newsletter">
          <form class="footer-newsletter-form" action="" method="post">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" id="email" name="email" class="form-control" placeholder="Enter your Email">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Subscribe</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row footer-row-second">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h4 class="footer-title">Shop with Confidence</h4>
            <ul class="footer-nav">
              <li><a href="">Why Buy From Us?</a></li>
              <li><a href="">Our Certifications</a></li>
              <li><a href="">Testimonial</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-4">
            <h4 class="footer-title">Costomer Delight</h4>
            <ul class="footer-nav">
              <li><a href="">Contact Us</a></li>
              <li><a href="">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="footer-title footer-social-title">Follow Us On</h4>
        <ul class="footer-social">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row footer-row-third">
      <div class="col-md-12">
        <div class="footer-info">
          <img src="assets/images/footer_paymentbanner.png" alt="JewelPeak">
        </div>
        <div class="footer-copyright">
          Copyright &copy; 2016, All Rights Reserved <a href="">Lovida Diamonds.</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- SCROLL TO TOP -->
<a href="#" id="toTop" class="scroll-to-top"></a>
