<section class="homepage-category">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<a href="">
					<div class="homepage-category-box">
						<img class="img-responsive" src="assets/images/after-main-banner/jewellery.jpg" alt="">
						<h4>Jewellery<span>Illuminate your look with our stunnning collection.</span></h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="homepage-category-box">
						<img class="img-responsive" src="assets/images/after-main-banner/diamond.jpg" alt="">
						<h4>Diamond<span>We bring you fire and brilliance in every stone</span></h4>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="homepage-category-box">
						<img class="img-responsive" src="assets/images/after-main-banner/wedding.jpg" alt="">
						<h4>Wedding &amp; Engagement<span>Find the perfect ring for a lasting memorial</span></h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="homepage-product">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="homepage-title-group">
					<h3 class="homepage-title">
						Products
						<span>Browse our wide range of items</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<a href="">
					<div class="homepage-product-box">
						<div class="homepage-product-img">
							<img src="assets/images/homepage-product/bracelets.jpg" class="img-responsive" alt="Product">
						</div>
						<div class="homepage-product-txt">
							<h4>Bracelets</h4>
						</div>
					</div>
				</a>		
			</div>
			<div class="col-md-3">
				<a href="">
					<div class="homepage-product-box">
						<div class="homepage-product-img">
							<img src="assets/images/homepage-product/earrings.jpg" class="img-responsive" alt="Product">
						</div>
						<div class="homepage-product-txt">
							<h4>Earrings</h4>
						</div>
					</div>
				</a>		
			</div>
			<div class="col-md-3">
				<a href="">
					<div class="homepage-product-box">
						<div class="homepage-product-img">
							<img src="assets/images/homepage-product/necklaces.jpg" class="img-responsive" alt="Product">
						</div>
						<div class="homepage-product-txt">
							<h4>Necklaces</h4>
						</div>
					</div>
				</a>		
			</div>
			<div class="col-md-3">
				<a href="">
					<div class="homepage-product-box">
						<div class="homepage-product-img">
							<img src="assets/images/homepage-product/rings.jpg" class="img-responsive" alt="Product">
						</div>
						<div class="homepage-product-txt">
							<h4>Rings</h4>
						</div>
					</div>
				</a>		
			</div>
		</div>
	</div>
</section>

<section class="homepage-collections">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="homepage-title-group">
					<h3 class="homepage-title">
						Collections
						<span>Explore exquisite ideas from designer</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a href="">
					<div class="homepage-collections-box">
						<img src="assets/images/homepage-collections/01.jpg" class="img-responsive" alt="collection">
					</div>
				</a>		
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="homepage-collections-box">
						<img src="assets/images/homepage-collections/02.jpg" class="img-responsive" alt="collection">
					</div>
				</a>		
			</div>
			<div class="col-md-4">
				<a href="">
					<div class="homepage-collections-box">
						<img src="assets/images/homepage-collections/03.jpg" class="img-responsive" alt="collection">
					</div>
				</a>		
			</div>
		</div>
	</div>
</section>

<section class="homepage-magazine">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="homepage-title-group">
					<h3 class="homepage-title">
						Magazine
						<span>Red up on interesting articles and tips</span>
					</h3>
				</div>
			</div>
		</div>
		<div id="magazine-banner" class="magazine-banner owl-carousel owl-theme">
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/mag-01.jpg" alt="">
			  	<div class="magazine-banner-box">
			  		<h4>Magazine Title</h4>
			  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero commodi repellendus recusandae!</p>
			  	</div>
		  	</a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/mag-02.jpg" alt="">
			  	<div class="magazine-banner-box">
			  		<h4>Magazine Title</h4>
			  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			  	</div>
		  	</a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/mag-03.jpg" alt="">
			  	<div class="magazine-banner-box">
			  		<h4>Magazine Title</h4>
			  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			  	</div>
		  	</a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/mag-04.jpg" alt="">
			  	<div class="magazine-banner-box">
			  		<h4>Magazine Title</h4>
			  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			  	</div>
		  	</a>
		  </div>
		</div>
	</div>
</section>

<section class="homepage-social">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="homepage-title-group">
					<h3 class="homepage-title">
						social Media
					</h3>
					<ul class="list-inline">
						<li><span>Follows us on</span></li>
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-instagram"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="social-banner" class="social-banner owl-carousel owl-theme">
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/01.jpg" alt=""></a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/02.jpg" alt=""></a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/03.jpg" alt=""></a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/04.jpg" alt=""></a>
		  </div>
		  <div class="item"> 
		  	<a href=""><img src="assets/images/homepage-social/05.jpg" alt=""></a>
		  </div>
		</div>
	</div>
</section>