<section class="homepage-banner">	
	<div id="main-banner" class="main-banner owl-carousel owl-theme">
	  <div class="item"> 
	  	<img src="assets/images/banner-big-01.png" alt="">
	  	<div class="container">
		  	<div class="main-banner-box">
		  		<h2 class="main-banner-title">Exeptional Diamonds.<br>Exquisite Craftsmanship.<br>Unmistakable Prestige.</h2>
		  		<button class="btn btn-primary btn-x-large">Explore Diamonds</button>
		  	</div>
		</div>
	  </div>
	  <div class="item"> 
	  	<img src="assets/images/banner-big-02.png" alt="">
	  	<div class="container">
		  	<div class="main-banner-box">
		  		<h2 class="main-banner-title title-white">Exeptional Diamonds.<br>Exquisite Craftsmanship.<br>Unmistakable Prestige.</h2>
		  	</div>
		</div>
	  </div>
	</div>
</section>