<nav class="navbar navbar-default navigation" role="navigation">
  <div class="container">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
      <ul class="nav navbar-nav">
        <li class="home active dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="index.html"><i class="fa fa-home"></i></a>
          <div class="dropdown-menu">
            <ul class="navigation-child-box menu-submenu">
              <li class="navigation-child-title"><strong>Page</strong></li>
              <li class="navigation-child-list"><a href="search.html">Search Page</a></li>
              <li class="navigation-child-list"><a href="product-category.html">Product Category</a></li>
              <li class="navigation-child-list"><a href="product-category-setting.html">Product Category Setting</a></li>
              <li class="navigation-child-list"><a href="product-category-review.html">Product Category Review</a></li>
              <li class="navigation-child-list"><a href="product-detail.html">Product Detail</a></li>
              <li class="navigation-child-list"><a href="cart.html">Cart</a></li>
              <li class="navigation-child-list"><a href="checkout-1.html">Checkout Step 1</a></li>
              <li class="navigation-child-list"><a href="checkout-2.html">Checkout Step 2</a></li>
              <li class="navigation-child-list"><a href="checkout-3.html">Checkout Step 3</a></li>
              <li class="navigation-child-list"><a href="checkout-4.html">Checkout Step 4</a></li>
              <li class="navigation-child-list"><a href="checkout-5.html">Checkout Step 5</a></li>
            </ul>
          </div>
        </li>
        </li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="designer.html">Designer</a>
          <div class="dropdown-menu">
            <ul class="navigation-child-box menu-submenu">
              <li class="navigation-child-list"><a href="designer.html">Designer</a></li>
              <li class="navigation-child-list"><a href="designer-detail.html">Designer Detail</a></li>
            </ul>
          </div>
        </li>
        <li><a href="collections.html">Collections</a></li>
        <li class="dropdown mega-menu">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="collections-jewelry.html">Jewelry</a>
          <div class="dropdown-menu mega-menu-content">
            <div class="container-fluid">
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box menu-submenu">
                  <li class="navigation-child-title"><strong>Earrings</strong></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-studs"></i>Design your own studs</a></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-matching"></i>Preset Diamond Studs</a></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-gemstone-earing"></i>Mile Coeurs Gemstone Earrings</a></li>
                  <li class="navigation-child-devider"></li>
                  <li class="navigation-child-title"><strong>Rings</strong></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-royal-halo"></i>Royal Halo Diamond Rings</a></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-gemstone-ring"></i>Mile Coeurs Gemstone Rings</a></li>
                </ul>
              </div>
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box menu-submenu">
                  <li class="navigation-child-title"><strong>Necklaces</strong></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-pendant"></i>Design your own Pendants</a></li>
                  <li class="navigation-child-list"><a href="collections-jewelry.html"><i class="icon icon-pendant-diamond"></i>Preset Diamond Pendants</a></li>
                </ul>
              </div>
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box">
                  <li class="navigation-child-product">
                    <a class="navigation-child-product-link" href="collections-jewelry.html">
                      <img class="img-responsive" src="assets/images/homepage-social/04.jpg" alt="product">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown mega-menu">
          <a data-toggle="dropdown" class="dropdown-toggle" href="collections-diamond.html">Diamonds</a>
          <div class="dropdown-menu mega-menu-content">
            <div class="container-fluid">
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box menu-submenu">
                  <li class="navigation-child-title"><strong>Search Diamond Gallery</strong></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-round-cut"></i>Round Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-princess-cut"></i>Princess Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-emerald-cut"></i>Emerald Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-asscher-cut"></i>Asscher Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-oval-cut"></i>Oval Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-radiant-cut"></i>Radiant Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-pear-shaped"></i>Pear Shaped</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-heart-shaped"></i>Heart Shaped</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-marquise-cut"></i>Marquise Cut</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-cushion-cut"></i>Cushion Cut</a></li>
                </ul>
              </div>
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box menu-submenu">
                  <li class="navigation-child-title"><strong>Design your Own</strong></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-engagement-ring"></i>Diamond Engagment Ring</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-studs"></i>Diamond Studs</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-pendant"></i>Diamond Pendant</a></li>
                  <li class="navigation-child-devider"></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-diamond"></i>Fancy Color Diamonds</a></li>
                  <li class="navigation-child-list"><a href="collections-diamond.html"><i class="icon icon-diamond-pair"></i>Matching Diamond Pairs</a></li>
                </ul>
              </div>
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box">
                  <li class="navigation-child-product">
                    <a class="navigation-child-product-link" href="collections-diamond.html">
                      <img class="img-responsive" src="assets/images/homepage-social/02.jpg" alt="product">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="dropdown mega-menu">
          <a data-toggle="dropdown" class="dropdown-toggle" href="collections-gemstone.html">Gemstones</a>
          <div class="dropdown-menu mega-menu-content">
            <div class="container-fluid">
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box menu-submenu">
                  <li class="navigation-child-title"><strong>Search Gemstone Gallery</strong></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-round-cut blue"></i>Blue Sapphire</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-round-cut pink"></i>Pink Sapphire</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-round-cut yellow"></i>Yellow Sapphire</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-round-cut red"></i>Red Ruby</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-round-cut green"></i>Green Emerald</a></li>
                </ul>
              </div>
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box menu-submenu">
                  <li class="navigation-child-title"><strong>Design your Own</strong></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-engagement-ring"></i>Gemstone Engagment Ring</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-studs"></i>Gemstone Studs</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-pendant"></i>Gemstone Pendant</a></li>
                  <li class="navigation-child-devider"></li>
                  <li class="navigation-child-title"><strong>Mille Coeurs Collections</strong></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-gemstone-ring"></i>Gemstone Rings</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-gemstone-earing"></i>Gemstone Earrings</a></li>
                  <li class="navigation-child-list"><a href="collections-gemstone.html"><i class="icon icon-gemstone-pendant"></i>Gemstone Pendants</a></li>
                </ul>
              </div>
              <div class="col-md-4 mega-menu-content-3">
                <ul class="navigation-child-box">
                  <li class="navigation-child-product">
                    <a class="navigation-child-product-link" href="collections-gemstone.html">
                      <img class="img-responsive" src="assets/images/homepage-social/05.jpg" alt="product">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li><a href="">Services</a></li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" href="magazine.html">Magazine</a>
          <div class="dropdown-menu">
            <ul class="navigation-child-box">
              <li class="navigation-child-list"><a href="magazine.html">Magazine</a></li>
              <li class="navigation-child-list"><a href="magazine-category.html">Magazine Category</a></li>
              <li class="navigation-child-list"><a href="magazine-detail.html">Magazine Detail</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
  </div>
</nav>
<div class="mobile-logo visible-sm visible-xs">
  <a href="index.html" class="logo"><img src="assets/images/logo.svg" height="28" alt="Logo" class="img-responsive"></a>
</div>
