<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <div class="homepage-title-group" >
          <h3>Sign Up For Our Newsletter!</h3>
          <p>Don’t miss out on updates on the best products, expert insights and jewelry ideas</p>
        </div>
        <div class="input-group">
          <input id="newsletter_subscribe_email" class="form-control newsletter_subscribe_email" type="text" placeholder="Type your email...">
          <span class="input-group-btn">
            <button id="newsletter_subscribe_btn" class="btn btn-primary newsletter_subscribe_btn" type="button">SUBSCRIBE</button>
          </span>
        </div>  
      </div>
    </div>
  </div>
</section>